h1, h2, h3, p, a, b, button {
  font-family: "Lexend Deca", Arial;
}

h1, h2, h3 {
  margin: 0;
}

p {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

section > h1 {
  font-size: 27px;
}

a, a:visited {
  text-decoration: none;
  color: #6fab48;
}

button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #aefa9f;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
}

a:hover {
  border-bottom: 1px solid;
}

main, footer, header {
  margin: 0 auto;
  max-width: 1080px;
}

body {
  margin: 30px;
}

footer {
  margin-top: 15px;
}