h1, h2, h3, p, a, b, button {
  font-family: "Lexend Deca", Arial;
}

p {
  font-weight: 300;
}

section > h1 {
  font-size: 27px;
}

a, a:visited {
  text-decoration: none;
  color: rgb(57, 100, 219);
}

a:hover {
  border-bottom: 1px solid;
}

main, footer, header {
  margin: 0 auto;
  max-width: 1080px;
}

body {
  margin: 30px;
}