#main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 30px;
}

.actionCall {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  background-color: #6fab48;
  border-radius: 5px;
  padding: 30px;
  color: white;
}

#headline {
  text-align: center;
  font-size: 30px;
}

#headline > img {
  max-width: 500px;
  width: 100%;
}

.value {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-direction: column;
}

.value img {
  max-width: 300px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  width: 100%;
}

#gallery > li {
  width: 100%;
  max-width: 300px;
}

#gallery > li > img {
  width: 100%;
}

@media screen and (min-width: 820px) {
  
  .value {
    flex-direction: row;
  }

}